/*--------------------
Partners
--------------------*/

.partners {
    margin: 0 15px 30px 15px;
    overflow: hidden;
}

.partner {
    height: auto;
    max-width: 140px;
    padding: 15px;
    text-align: center;
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}
