<section class=" about-our-event" id="section-1"><!-- Start: about-our-event, "SECTION-1" -->
        	<div class="container">

                <!-- Start: About Our Event Area  -->
                <div class="row about-our-event-body">
                    
                    <!-- Start: About-Our-Event Left Area  -->
        			<div class="about-our-event-left col-md-5" data-wow-offset="120" data-wow-duration="1.5s">
                        <div class="about-our-event-left-body">
            				<h2>ABOUT OUR EVENT</h2>
                            <p> CityJSConf is a one day conference, a joint event from the London's JavaScript meetups, including <a href="https://www.meetup.com/London-JavaScript-Community/">London JS Community</a>, 
                                <a href="https://www.meetup.com/js-monthly/">JS Monthly</a>, <a href="https://www.meetup.com/halfstack/">Halfstack</a></p>
                                This is a fantastic opportunity for those meetups that bring great speakers from London and the rest of UK and the world 
                                to come together to share their collective knowledge about modern JavaScript development.
                                The event takes place at the heart of London, in one of the best Universities in the UK.
                            </div>
        			</div>
                    <!-- End: About-Our-Event Left Area  -->
        		</div>
                <!-- End: About Our Event Area  -->
                

                <!-- Start: About-Our-Event Overlay background Area  -->
                <div class="about-background-image">

                    <!-- About-Our-Event Overlay background Left Area  -->
                    <div class="background-left col-sm-12 col-md-6" style="min-height: 444px;"></div>

                    <!-- About-Our-Event Overlay background Right Area  -->
                    <div class="bg-img-3 background-right col-sm-12 col-md-6" style="min-height: 444px;">
                        <div class="background-right-overlay-color" style="min-height: 444px;"></div>
                    </div>

                </div> <!--  about-background-image  -->

            </div> <!-- End: container -->
        </section>