
        
        <section class="collapse-area" id="section-8"> <!-- Start: Collapse Area, "#SECTION-8" -->
            <div class="container">
                <div class="row">
                    <!-- Start: Collapse Area Right  -->
                    <div class="collapse-right col-sm-16 col-md-16 col-lg-16">

                        <h2 class="wow fadeInDown animated" data-wow-offset="120" data-wow-duration="1.5s">Frequently Asked Questions</h2><!-- Collapse Title Goes Here  -->
                        
                        <!--  Start: Collapse-tab  -->
                        <div class="collapse-tab ">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default wow fadeInUp animated" data-wow-offset="120" data-wow-duration="1.5s" id="panelx"><!-- Start: Tab-1 -->
                                    <div class="panel-heading">
                                        <h4 class="panel-title">

                                            <!-- Tab-1 Title Goes Here  -->
                                            <a data-toggle="collapse" data-parent="#accordion" href="#faq1" class="">
                                               Will you be able to pay for the travel of the speakers?
                                                <span class="bar hidden-xs"></span>
                                            </a>

                                        </h4>
                                    </div>
                                    <div id="faq1" class="panel-collapse collapse in">

                                        <!-- Tab-1 Detail Goes Here  -->
                                        <div class="panel-body">
                                            We would advise you to first let us know what is the title/subject of your talk before we make a decision on paying for travel and 
                                            accommodation.
                                        </div>
                                    </div>
                                </div><!-- End: Tab-1 -->
                                <div class="panel panel-default wow fadeInUp animated" data-wow-offset="120" data-wow-duration="1.5s" id="panelr"><!-- Start: Tab-2 -->
                                    <div class="panel-heading">
                                        <h4 class="panel-title">

                                            <!-- Tab-1 Title Goes Here  -->
                                            <a data-toggle="collapse" data-parent="#accordion" href="#faq2" class="collapsed">
                                                Do you have a Code of Conduct?
                                                <span class="bar hidden-xs"></span>
                                            </a>

                                        </h4>
                                    </div>
                                    <div id="faq2" class="panel-collapse collapse">

                                        <!-- Tab-2 Detail Goes Here  -->
                                        <div class="panel-body">
                                            Our Conference follows the JS Conf <a target="_blank" href="http://jsconf.com/codeofconduct.html">Code of Conduct</a>.
                                         </div>
                                    </div>
                                </div><!-- End: Tab-2 -->
                                <div class="panel panel-default wow fadeInUp animated" data-wow-offset="120" data-wow-duration="1.5s" id="panelp"><!-- Start: Tab-2 -->
                                    <div class="panel-heading">
                                        <h4 class="panel-title">

                                            <!-- Tab-1 Title Goes Here  -->
                                            <a data-toggle="collapse" data-parent="#accordion" href="#faq3" class="collapsed">
                                                 What is your refunds policy?
                                                <span class="bar hidden-xs"></span>
                                            </a>

                                        </h4>
                                    </div>
                                    <div id="faq3" class="panel-collapse collapse">

                                        <!-- Tab-2 Detail Goes Here  -->
                                        <div class="panel-body">
                                             Refunds permitted until 26th of February, tickets are fully transferrable to another attendee until the day prior to the event
                                         </div>
                                    </div>
                                </div><!-- End: Tab-2 -->
                            

                            </div> <!-- End: .panel-group  -->
                        </div><!--  End: .collapse-tab  -->

                    </div>
                    <!-- End: Collapse Area Right  -->


                </div> <!-- End: .row  -->
            </div> <!-- End: .container  -->
        </section> <!-- End: Collapse Area, "#SECTION-8" -->
