<div class="container">
    <div class="row header-body" id="header-body">

        <!-- Start: CountDown area -->
        <!-- <div class="count_down  wow fadeInDown animated" data-wow-offset="120" data-wow-duration="1.5s">
        </div> -->
        <!-- End: CountDown area -->

        <div class="clearfix"></div>

        <div class="heading  wow fadeInUp animated" data-wow-offset="120" data-wow-duration="1.5s">
            <h1><b>CITY OF LONDON JAVASCRIPT EMERGING CONFERENCE </b><br>CITYJSCONF<br/>26 March 2018</h1>
        </div>

        <div class="pera">

            <!-- Start: Button area -->
            <div class="buy-tricket" data-wow-offset="120" data-wow-duration="1.5s">
                <div class="btn-group">
                    <a href="https://cityjsconf2018.streameventlive.com/login" class="btn-fill btn-standard btn btn-cus">2018 Videos</a>
                </div>
            </div>
            <!-- End: Button area" -->

        </div>
        <!-- End: col-md-5 pera  -->
    </div>
    <!-- End: header-body  -->
</div>
<!-- End: container  -->