<!-- Start: Navbar Area  -->
<div class="header-navbar navbar-fixed-top" id="header-navbar">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">

                <!-- Show in Mobile -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar icon-close-1"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar icon-close-2"></span> 
                                </button>

                <!-- Your Icon Goes Here -->
                <a class="navbar-brand" href="index.html">
                                    <img src="../assets/2018_images/logo.png" class="img-responsive" alt="">
                                </a>

            </div>

            <!-- Show in Dexktop -->
            <button type="button" class="navbar-toggle navbar-cus hidden-xs " id="navbar-cus" style="padding-right= 0px">
                                <span class="lines"></span>
                            </button>

            <!-- Navbar Option -->
            <div id="myNavbar">
                <ul id="navbar-nav" class="myNavbarUl nav navbar-nav navbar-right slideOutRight">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#section-1">About</a></li>
                    <li><a href="#section-x">The Debate</a></li>
                    <li><a href="#section-3">Schedule</a></li>
                    <li><a href="#section-4">Speakers</a></li>
                    <li><a href="#section-w">Workshops</a></li>
                    <li><a href="#section-5">Buy Tickets</a></li>
                    <li><a href="#section-11">Venue</a></li>
                     <li><a href="#section-15">Sponsors</a></li>
                    <!-- <li><a href="blog.html" class="blog">Blog</a></li>  -->
                </ul>
            </div>
        </div>
        <!-- End: container  -->
    </nav>
    <!-- End: navbar navbar-inverse  -->
</div>
<!-- End: Navbar Area  -->