
        <section class="scedule" id="section-3"> <!-- Start: our-featured-speaker, "SECTION-3" -->
            <div class="fix overlay-color"> <!-- Start: Overlay color  -->
                <div class="container">
                   
                    <div class="row scedule-body">
                        <div role="tabpanel">

                            <!-- Nav tabs -->
                            <ul class="scedule-main col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 nav wow fadeInDown animated" data-wow-offset="10" data-wow-duration="1.5s" role="tablist">
                                <li role="presentation" class="btn-group col-xs-12 col-sm-12 col-md-4 active">
                                    <a class="btn-border btn-standard btn btn-cus" href="#scedule-1" aria-controls="scedule-1" role="tab" data-toggle="tab">First Day</a>
                                </li>
                                <li role="presentation" class="btn-group col-xs-12 col-sm-12 col-md-4">
                                    <a class="btn-border btn-standard btn btn-cus" href="#scedule-2" aria-controls="scedule-2" role="tab" data-toggle="tab">Second Day</a>
                                </li>
                                <li role="presentation" class="btn-group col-xs-12 col-sm-12 col-md-4">
                                    <a class="btn-border btn-standard btn btn-cus" href="#scedule-3" aria-controls="scedule-3" role="tab" data-toggle="tab">Third Day</a>
                                </li>
                            </ul>

                            <div class="clearfix visible-xs visible-sm"></div>

                            <!-- Tab panes -->
                            <div class="tab-content col-md-12">
                                <div role="tabpanel" class="tab-pane active wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1.5s" id="scedule-1">

                                    <div class="dropdown">
                                        <span id="btn-scedule-1" data-id="#nav-ul-scedule-1" class="btn-scedule-css hidden-md hidden-lg label"></span>

                                        <!-- Nav tabs -->
                                        <ul class="nav nav-cus col-md-4" role="tablist"  id="nav-ul-scedule-1">
                                            <li role="presentation" class="active">
                                                <a href="#scedule-sub-1" aria-controls="scedule-sub-1" role="tab" data-toggle="tab">
                                                    <span class="nav-header">Welcome &amp; Registration</span>
                                                    <span class="nav-time">09:30am - 10:00am</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="">
                                                <a href="#scedule-sub-2" aria-controls="scedule-sub-2" role="tab" data-toggle="tab">
                                                    <span class="nav-header">Rest of Schedule</span>
                                                    <span class="nav-time">10:00am - 16:00pm</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="">
                                                <a href="#scedule-sub-x" aria-controls="scedule-sub-3" role="tab" data-toggle="tab">
                                                    <span class="nav-header">Kyle Simpson and 
                                                        Dylan Schiemann</span>
                                                    <span class="nav-time">16:00pm - 18:00pm</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- Tab panes -->
                                    <div class="tab-content col-md-8">
                                        <div role="tabpanel" class="tab-pane active" data-wow-offset="10" data-wow-duration="1.5s" id="scedule-sub-1">
                                            <h3> Welcome and Registration</h3>
                                            <p>Coffee and Tea and breakfast will be provided</p>
                                        </div>
                                         <div role="tabpanel" class="tab-pane" data-wow-offset="10" data-wow-duration="1.5s" id="scedule-sub-2">
                                            <h3>Rest of Schedule</h3>
                                            <p>Full information will be added once we announce full line up. You can find more info for the talks on the Speaker's section.</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" data-wow-offset="10" data-wow-duration="1.5s" id="scedule-sub-x">
                                            <h3>Kyle Simpson and Dylan Schiemann</h3>
                                            <p>Strong vs. Weak Typing with JavaScript</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div role="tabpanel" class="tab-pane" data-wow-offset="10" data-wow-duration="1.5s" id="scedule-2">

                                <div class="dropdown">
                                        <span id="btn-scedule-2" data-id="#nav-ul-scedule-2" class="btn-scedule-css hidden-md hidden-lg label"></span>

                                        <!-- Nav tabs -->
                                        <ul class="nav nav-cus col-md-4" role="tablist"  id="nav-ul-scedule-2">
                                            <li role="presentation" class="active">
                                                <a href="#scedule-sub-wkd11" aria-controls="scedule-sub-11" role="tab" data-toggle="tab">
                                                    <span class="nav-header">Welcome &amp; Registration</span>
                                                    <span class="nav-time">09:30am - 10:00am</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="">
                                                <a href="#scedule-sub-wkd12" aria-controls="scedule-sub-wkd12" role="tab" data-toggle="tab">
                                                    <span class="nav-header">Kyle Simpson Workshop Day 1</span>
                                                    <span class="nav-time">TBD</span>
                                                </a>
                                            </li>
    
                                        </ul>
                                    </div>

                                    <!-- Tab panes -->
                                    <div class="tab-content col-md-8">
                                        <div role="tabpanel" class="tab-pane active" data-wow-offset="10" data-wow-duration="1.5s" id="scedule-sub-wkd11">
                                            <h3> Welcome and Registration</h3>
                                            <p>Coffee and Tea and breakfast will be provided</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" data-wow-offset="10" data-wow-duration="1.5s" id="scedule-sub-wkd12">
                                            <h3>Kyle Simpson Workshop Day 1</h3>
                                            <p>A workshop on ES6: The Good Parts</p>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" data-wow-offset="10" data-wow-duration="1.5s" id="scedule-3">

                                         <div class="dropdown">
                                        <span id="btn-scedule-3" data-id="#nav-ul-scedule-3" class="btn-scedule-css hidden-md hidden-lg label"></span>

                                        <!-- Nav tabs -->
                                        <ul class="nav nav-cus col-md-4" role="tablist"  id="nav-ul-scedule-3">
                                            <li role="presentation" class="active">
                                                <a href="#scedule-sub-1" aria-controls="scedule-sub-wkd21" role="tab" data-toggle="tab">
                                                    <span class="nav-header">Welcome &amp; Registration</span>
                                                    <span class="nav-time">09:30am - 10:00am</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="">
                                                <a href="#scedule-sub-wkd22" aria-controls="scedule-sub-wkd22" role="tab" data-toggle="tab">
                                                    <span class="nav-header">Kyle Simpson Workshop Day 2</span>
                                                    <span class="nav-time">TBD</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- Tab panes -->
                                    <div class="tab-content col-md-8">
                                        <div role="tabpanel" class="tab-pane active" data-wow-offset="10" data-wow-duration="1.5s" id="scedule-sub-wkd21">
                                            <h3> Welcome and Registration</h3>
                                            <p>Coffee and Tea and breakfast will be provided</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" data-wow-offset="10" data-wow-duration="1.5s" id="scedule-sub-wkd22">
                                            <h3>Kyle Simpson Workshop Day 2</h3>
                                            <p>A workshop on Node Fundamentals</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div><!-- End: tabpanel  -->

                    </div><!-- End: our-futured-speaker-body   -->
                </div> <!-- End: container   -->
            </div> <!-- End: Overlay color   -->
        </section> <!-- End: our-featured-speaker, "SECTION-3" -->

      