    <!-- SCRIPTS -->
        <script src="{{ "../assets/2018_js/jquery-1.11.3.min.js" | prepend: site.baseurl }}"></script>      
        <script src="{{ "../assets/2018_style/css/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "../assets/2018_js/jquery.stellar.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "../assets/2018_js/jquery.scrollTo.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "../assets/2018_js/jquery.localScroll.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "../assets/2018_js/owl.carousel.min.js" | prepend: site.baseurl }}"></script>  
        <script src="{{ "../assets/2018_js/jquery.nav.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "../assets/2018_js/wow.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "../assets/2018_js/jquery.nicescroll.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "../assets/2018_js/matchMedia.js" | prepend: site.baseurl }}"></script>   
        <script src="{{ "../assets/2018_js/navbar.matchMedia.js" | prepend: site.baseurl }}"></script>   
        <script src="{{ "../assets/2018_js/jquery.ajaxchimp.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "../assets/2018_js/jquery.countdown.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "../assets/2018_js/fancySelect.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "../assets/2018_js/smoothscroll.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "../assets/2018_js/jquery.backgroundvideo.js" | prepend: site.baseurl }}"></script> 

        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgYsYygVCgqC521ymObM2Ku-I8ge9Dcfc&callback=initMap"
        type="text/javascript"></script>
        
        <script src="{{ "../assets/2018_js/navbar-custom.js" | prepend: site.baseurl }}"></script> 
        <script src="{{ "../assets/2018_js/custom-scripts.js" | prepend: site.baseurl }}"></script> 
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31718081-8"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-31718081-8');
        </script>