        <section class="collapse-area text-center" id="section-15">
            <!-- Start: Collapse Area, "#SECTION-15" -->
            <div class="container">
                <div class="row">
                    <!-- Start: Collapse Area Right  -->
                    <div class="collapse-right col-sm-16 col-md-16 col-lg-16">
        
                        <h2 class="wow fadeInDown animated" data-wow-offset="120" data-wow-duration="1.5s">Supporters</h2>
                        <!-- Collapse Title Goes Here  -->
        
                        <!--  Start: Collapse-tab  -->
                        <h2>Gold Sponsors</h2>
                         <div class="row">
                            <div class="partners">
                                <div class="col-sm-offset-2 col-sm-4 gold-partner">
                                    <a href="http://trunomi.com/" target="_blank">
                                        <img src="../assets/2018_images/supporters/trunomi.png" alt="TRUNOMI LOGO" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-sm-4 gold-partner">
                                    <a href="http://ig.com/" target="_blank">
                                        <img src="../assets/2018_images/supporters/IG_flat_red_bg.png" alt="IG INDEX" class="img-responsive">
                                    </a>
                                </div>
                                 <div class="col-sm-4 gold-partner">
                                    <a href="http://city.ac.uk" target="_blank">
                                        <img src="../assets/2018_images/supporters/cityuni.png" alt="CITY UNIVERSITY OF LONDON" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-sm-4 gold-partner">
                                    <a href="https://www.utilitywarehouse.co.uk/" target="_blank">
                                        <img src="../assets/2018_images/supporters/utilitywarehouse.png" alt="CITY UNIVERSITY OF LONDON" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <h2>Community supporters</h2>
                        <div class="row">
                            <div class="partners">
                                <div class="col-sm-4 partner">
                                    <a href="http://halfstackconf.com/" target="_blank">
                                        <img src="../assets/2018_images/supporters/halfstack-logo.svg" alt="HalfStack Conference" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-sm-4 partner">
                                    <a href="https://www.meetup.com/London-JavaScript-Community/" target="_blank">
                                        <img src="../assets/2018_images/supporters/london-js.png" alt="LondonJS Meetup" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-sm-4 partner">
                                    <a href="http://devitconf.org/" target="_blank">
                                        <img src="../assets/2018_images/supporters/devit-logo.svg" alt="DEVit Conference" class="img-responsive">
                                    </a>
                                </div>
                                 <div class="col-sm-4 partner">
                                    <a href="http://jsmonthly.org/" target="_blank">
                                        <img src="../assets/2018_images/supporters/jsmonthly.jpeg" alt="DEVit Conference" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-sm-4 partner">
                                    <a href="https://www.meetup.com/women-who-code-london/" target="_blank">
                                        <img src="../assets/2018_images/supporters/wwc.jpg" alt="DEVit Conference" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End: Collapse Area Right  -->
        
        
                </div>
                <!-- End: .row  -->
            </div>
            <!-- End: .container  -->
        </section>
        <!-- End: Collapse Area, "#SECTION-8" -->
