  <footer class="footer"> <!-- Start: Footer Area  -->
        	<div class="container">
        		<div class="row footer-body btn-scroll">
                    
                    <!-- Your Icon Goes Here  -->
					<div class="logo col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<a href="#" ><img src="../assets/2018_images/logo.png" alt="" class="img-responsive"></a>
					</div>
                    
                    <!--  Scroll Top  -->
					<div class="top-buttom col-lg-6 col-md-6 col-sm-6 col-xs-6">
						 <a href="#header" class="btn-standard btn btn-top"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></a>
					</div>

        		</div><!-- End: .row .footer-body .btn-scroll  -->
        	</div> <!-- End: .container  -->
        </footer> <!-- End: Footer Area  -->