<head>

    <!-- TITLE OF SITE -->
    <title> CITYJSCONF 2018</title>


    <meta charset="utf-8">
    <meta name="description" content="CITY OF LONDON JAVASCRIPT CONFERENCE 2018" />
    <meta name="keywords" content="cityjsconf, javascript, city, london" />
    <meta name="author" content="Santush Deb Nath, deviserweb">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--   FAV AND TOUCH ICONS   -->
    <link rel="icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">


    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{{ " ../assets/2018_style/css/bootstrap/css/bootstrap.min.css " | prepend: site.baseurl }}" href="">

    <!-- FONT ICONS -->
    <link rel="stylesheet" href="{{ " ../assets/2018_style/css/font-awesome.css " | prepend: site.baseurl }}">

    <!-- PRELOADER -->
    <link rel="stylesheet" href="{{ " ../assets/2018_style/css/preloader.css " | prepend: site.baseurl }}">

    <!-- CAROUSEL SLIDERS -->
    <link rel="stylesheet" href="{{ " ../assets/2018_style/css/owl.carousel.css " | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ " ../assets/2018_style/css/owl.theme.css " | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ " ../assets/2018_style/css/owl.transitions.css " | prepend: site.baseurl }}">

    <!--  CSS3 ANIMATE CSS  -->
    <link rel="stylesheet" href="{{ " ../assets/2018_style/css/animate.css " | prepend: site.baseurl }}">

    <!--  DROPDOWN CSS  -->
    <link rel="stylesheet" href="{{ " ../assets/2018_style/css/fancySelect.css " | prepend: site.baseurl }}"/>

    <!-- IMAGE HOVER EFFECT  -->
    <link rel="stylesheet" href="{{ " ../assets/2018_style/css/hover-effect-animate.css " | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ " ../assets/2018_style/css/hover-effect.css " | prepend: site.baseurl }}" />

    <!--   CUSTOM CSS link  -->
    <link rel="stylesheet" href="{{ " ../assets/2018_style/css/style.css " | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ " ../assets/2018_style/css/responsive.css " | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ " ../assets/2018_style/css/cityjs-custom.css " | prepend: site.baseurl }}">

    <link rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1' />

    <!-- COLORS -->
    <link rel="stylesheet" href="{{ " ../assets/2018_style/css/colors/red.css " | prepend: site.baseurl }}">


    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <script src='https://js.tito.io/v1' async></script>
</head>