        <section class="pricing-tables" id="section-5"> <!-- Start: Pricing Table Area, "SECTION-5" -->
            <div class="container">
                <div id="buytickets" class="row pricing-tables-body">
                    <h2 class="wow fadeInDown animated animated">Buy Tickets</h2>
                    <p>
                        There are a number of choices for our tickets, you can pick just the ticket for the conference, a combined ticket for the conference and the workshops.

                        The deadline for early birds is the end of January.
                    </p>
                      <tito-widget event="city-of-london-js-conference/cityjsconf-2018"></tito-widget>
                </div><!-- End: .pricing-table-body  -->
            </div> <!-- End: .container  -->
        </section> <!-- End: .Pricing .Table Area, "#SECTION-5" -->
