   <section class="speakers" id="section-4" ><!-- Start: Speakers Area, "SECTION-4" -->
            <div class="container">
                <div class="row speakers-body col-md-12 col-lg-offset-1 col-lg-10" >

                    <div class="wow fadeInDown animated" data-wow-offset="120" data-wow-duration="1.5s">
                        <h2>OUR SPEAKERS</h2><!-- Speakers Heading Goes Here -->
                    </div>
                
                    <div id="slider" class="wow fadeInUp animated" data-wow-offset="120" data-wow-duration="1.5s"><!-- Start: Slider Area -->

                        <!-- Speakers Slide images Goes Here -->
                         {% for post in site.categories.2017_speakers %}
                        <div class="item">
                            
                            <div class="view view-first">
                                <img src="{{"../assets/2018_images/speakers-img/" | prepend: site.baseurl | append: post.img}}"  alt="">
                                <!-- <div class="mask">
                                    <ul class="nav">
                                        <li><a href="#"> <i class="fa facebook fa-facebook"></i> </a></li>
                                        <li><a href="#"> <i class="fa twitter fa-twitter"></i> </a></li>
                                        <li><a href="#"> <i class="fa skype fa-skype"></i> </a></li>
                                        <li><a href="#"> <i class="fa rss fa-rss "></i> </a></li>
                                    </ul>
                                    
                                </div> -->
                            </div>
                            <div class="clearfix"></div>

                            <h3>{{ post.title }}</h3>
                            <p>{{ post.name }}</p>

                            <p>{{ post.topic }}</p>

                        </div>
                         {% endfor %}

                    </div><!-- End: "slider" Area -->

                </div><!-- Start: Speakers Body Area -->
            </div><!-- End:  "container"-->
        </section><!-- End: Speakers Area, "SECTION-4" -->