
        <section class="scedule col-xs-16" id="section-x"> <!-- Start: our-featured-speaker, "SECTION-3" -->
            <div class="grayish-color"> <!-- Start: Overlay color  -->
                <div class="container">
                   
                <!-- Start: About Our Event Area  -->
                <div class="row workshops">
                    <!-- Start: About-Our-Event Left Area  -->
        			<div class="main-event-left col-md-12" data-wow-offset="120" data-wow-duration="1.5s">
                        <div class="main-event-left-body">
                            <h2>WORKSHOPS</h2>
                            
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                         <img src="../assets/2018_images/speakers-img/kyle_thumbnail.jpg" alt="">
                                    </div>
                                    <div class="col-md-5">
                                         <p class="subtitle"> CityJSConf is proudly presenting two Workshop opportunities with the JS titan Kyle Simpson.
                                        </p>
                                        <p class="copy">
                                        The workshops will take place on the modern lecture rooms of City University and it will be for 35 students on the following two subjects:
                                        
                                        <ul>
                                            <li>March 27: ES6 The best parts</li>
                                            <li>March 28: Node Fundamentals</li>
                                        </ul>
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="../assets/2018_images/lecture-theatre.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                        
                    </div>
        		</div>
                </div> <!-- End: container   -->
            </div> <!-- End: Overlay color   -->
        </section> <!-- End: our-featured-speaker, "SECTION-3" -->
